.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.search-form {
  display: flex;
  margin-bottom: 20px;
}

input[type='text'] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.image-item {
  display: flex;
  justify-content: center;
  cursor: pointer;
}


.selected-image {
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

.no-images {
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: #888;
}
